@tailwind base;
@tailwind components;
@tailwind utilities;

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
.frost-overlay {
    backdrop-filter: blur(8px);
    background: rgba(255, 255, 255, 0.1);
}
